@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<h1>Good Bye!</h1>

<h4></h4>
<hr />
<div class="text-center">
    <h2>Logging you out...</h2>
    <script type="text/javascript">
        window.setTimeout(function () {
            window.location.href = '/Home/UserLogin';
        }, 2000);
    </script>
</div>
