@model Person
@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<h1>Welcome!</h1>

<h4>Enter Credentials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">User ID</label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>   
</div>

<div>
    New User? <a asp-action="Signup">Signup</a>
</div>

